.header {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 2rem 0;
}

.logo {
  font-size: 1.25rem;
  font-weight: 900;
  text-transform: lowercase;
  letter-spacing: 2px;
  color: var(--color-white);
}

.nav-links a {
  color: var(--color-white);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--sub-title);
}

/* .hero img {
  width: 100%;
  max-width: 400px;
} */

.hero {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 6rem 0;
}

.hero .new-product {
  opacity: 0.5;
  letter-spacing: var(--char-spacing-sub);
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.hero .btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: bold;
}

.hero-image-wrapper {
  position: relative;
  max-width: 400px;
}

.hero-image {
  -webkit-mask-image: radial-gradient(
    ellipse at center,
    black 25%,
    transparent 100%
  );
  mask-image: radial-gradient(ellipse at center, black 25%, transparent 100%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: cover;
  mask-size: cover;
}

section:not(.hero) {
  margin-top: 6rem;
}

@media (min-width: 768px) {
  section:not(.hero) {
    margin-top: 6rem;
  }
}

.category-card {
  position: relative;
  background-color: var(--color-lighter-gray);
  border-radius: 8px;
  padding: 4rem 1rem 2rem; /* Top padding leaves space for image */
  text-align: center;
  overflow: visible;
}

.category-card img {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
  z-index: 2;
  transition: transform 0.3s ease;
}

.category-card:hover img {
  transform: translateX(-50%) scale(1.05);
}

.category-card h3 {
  margin-top: 3rem;
  font-size: var(--h6);
  text-transform: uppercase;
}

.category-card a {
  display: inline-block;
  /* margin-top: 1rem; */
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: var(--sub-title);
}

.featured.zx9 {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 5rem 2rem;
}

.featured.zx9 .btn-dark {
  background-color: var(--color-black);
  color: var(--color-white);
}

.featured.zx7 {
  padding: 0; /* remove internal padding */
}

.featured.zx7 img {
  width: 100%;
  height: auto;
  display: block;
}

.text-overlay {
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  max-width: 300px;
}

.featured.zx7 .btn-outline {
  border: 1px solid var(--color-black);
  background: none;
  color: var(--color-black);
}

.featured.yx1 .text {
  background-color: var(--color-light-gray);
  padding: 4rem 2rem;
}

.about h2 span {
  color: var(--color-primary);
}

.footer {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 4rem 0;
}

.footer .footer-links a {
  color: var(--color-white);
  text-transform: uppercase;
  font-size: var(--sub-title);
}
